body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #4d0080, #180030);
  color: #f3eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 400px;
  background: rgba(42,0,61,0.8);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px #e89cff;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.login-container button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #ffb3f0, #e89cff);
  color: #0b0010;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.login-container button:hover {
  box-shadow: 0 0 15px #e89cff;
}
